//Get external css
@import './bootstrap-4/css/bootstrap.min.css';

//Fonts

/* Text fonts */

@font-face {
    font-family: "sf-pro-text_regular";
    src: url("fonts/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
    font-family: "sf-pro-text_medium";
    src: url("fonts/sf-pro-text_medium.woff2") format("woff2");
}


//Display Ultra Light
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("fonts/sanfranciscodisplay-ultralight-webfont.woff2");
}

// Display Thin
@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("fonts/sanfranciscodisplay-ultralight-webfont.woff2");
}


// Display Medium */
@font-face {
    font-family: "San Francisco";
    font-weight: normal;
    src: url("fonts/sanfranciscodisplay-medium-webfont.woff2");
}

// Display Semi Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("fonts/sanfranciscodisplay-semibold-webfont.woff2");
}

// Display Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: bold;
    src: url("fonts/sanfranciscodisplay-bold-webfont.woff2");
}



body {
    font-family: "sf-pro-text_regular", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    color: #0070c9;
}

p {
    color: #888888;
}

.btn-primary {
    background-color: #0070c9;
}

.bg-brand-orange {
    background-color: #f4a62c;
}

.brand-orange {
    /*color: $bd-brand-orange !important;*/
    color: #f4a62c;
}

h1,
h2,
h3,
h4 {
    font-family: "sf-pro-text_medium", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}


h1 {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: -0.03em;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

h3 {
    font-weight: normal;
    font-size: 1.25rem;
    color: #888888;
}

.cta h3 {
    color: #000000;
}

.main-title+h3 {
    color: #888888;
}

@media (min-width: 768px) {

    h1,
    h2,
    h3,
    h4 {

        text-align: left;
    }

    .cta h2,
    .cta p,
    h2.main-title,
    .cta h3 {
        width: 100%;
        text-align: center;
    }
}

.navbar {

    .navbar-brand {
        background: transparent url(img/logo.svg) no-repeat left 10px;
        width: 100px;
        height: 40px;
    }
}


.breadcrumbs {
    height: 48px;
    padding-top: 10px;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 -3px 14px #666;

    span {
        display: inline-block;
        margin-top: 0.25rem;
    }

    @media (min-width: 576px) and (max-width: 767px) {
        .col-sm-12 {
            padding: 0;
        }
    }

    .btn-sm {
        padding: .2rem .5rem;

        @media (min-width: 576px) {
            margin-right: 0;
        }

        @media (min-width: 992px) {
            margin-right: 24px;
        }

        @media (min-width: 1200px) {
            margin-right: 38px;
        }
    }
}


.jumbotron {
    border-radius: 0;
    background: url(./img/hero-jumbotron.png) center bottom no-repeat;
    background-size: cover;
    min-height: 200px;
    margin-bottom: 60px;

    /* Landscape */
    @media screen and (orientation: landscape) {
        /* Landscape styles */
        min-height: 320px;
    }

    @media (min-width: 504px) {
        min-height: 250px;
    }

    @media (min-width: 576px) {
        min-height: 300px;
    }

    @media (min-width: 768px) {
        background: url(img/hero-jumbotron.png) center bottom no-repeat;
        background-size: cover;
        min-height: 360px;
    }

    @media (min-width: 992px) {
        background: url(img/hero-jumbotron.png) center bottom no-repeat;
        background-size: cover;
        min-height: 440px;
    }

    @media (min-width: 1200px) {
        background: url(img/hero-jumbotron-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    @media (min-width: 1600px) {
        background: url(img/hero-jumbotron-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 576px;
    }

    @media (min-width: 2000px) {
        background: url(img/hero-jumbotron-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 716px;
    }

    @media (min-width: 2500px) {
        background: url(img/hero-jumbotron-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 786px;
    }
}

hr {
    width: 80%;
    margin-bottom: 10px;
}

.btn-asteric {
    font-size: 0.8em;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

.btn-container {
    width: 100%;
    margin: 0 auto;
    text-align: center
}

section {

    text-align: center;
    padding: 100px 20px;

    &.first {
        margin-top: 40px;
        padding: 60px 20px !important;

        @media (min-width: 768px) {
            margin-top: 100px;
        }
    }

    &.odd {
        background-color: #f2f2f2;
    }

    &.even {
        background-color: #ffffff;
    }

    &.books {

        padding: 40px !important;
        background-color: #333333;

        .btn-asteric {
            margin: 0;
        }

        h2,
        h3 {
            color: white !important;
        }
    }

    &.live-events {
        background-color: #333333;
        color: white;

        .btn-outline-light:hover {
            color: #fff;
            background-color: #0D70CA;
        }

        img.kangaroo {
            width: 50%;
            margin-top: 30px;

            @media (min-width: 576px) {
                height: 100px;
                width: auto;
                margin-top: -16px;
            }

        }

        .wrap-date {
            border: #fff 1px solid;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            padding: 16px;
        }


        .btn[aria-expanded="true"] {
            background: #f4a62c;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .collapse,
        .collapsing,
        .show {
            .card-title {
                color: #333333;
            }
        }

        //Hack to delay the visibility of collapse elements so the
        //exiting ones have time to be removed from DOM
        //Works with JS at bottom of index file
        .collapsing {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
            visibility: hidden;
        }

        .event-details {
            color: #333333;
            text-align: left;



            @media(min-width: 768px) {
                text-align: center;
            }

            padding-top: 20px;

            .card {
                border: 1px solid #fff !important;

                @media(min-width: 768px) {
                    padding: 30px;
                }

                h2 {
                    color: #333333 !important;
                }
            }

            .arrow {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 16px 20px 16px;
                border-color: transparent transparent #ffffff transparent;
                border-style: inset;
                -webkit-transform: rotate(360deg);

            }

            &.first .arrow {
                margin-left: 12%;
            }

            &.second .arrow {
                margin-left: 80%;
            }

        }

        &.btn-asteric {
            margin: 0;
        }

        h3 {
            color: white !important;
        }

        h2 {
            color: white !important;
        }

        &.list-group {
            width: 80%;
        }
    }

    &.misc {
        background: #F7C98A;
        padding-top: 60px !important;
        padding-bottom: 60px !important;

        .has-border {
            border: 2px solid #000;
            padding: 10px;
            -webkit-border-radius: 6px;
            border-radius: 6px;

            @media (min-width: 768px) {
                padding: 20px;
            }
        }

        p {
            color: #000;
        }

        .news,
        .learn {
            img {
                width: 70%;
            }

            a {
                color: #000;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }



    img {
        margin-bottom: 30px;
        max-height: 300px;
        max-width: 300px
    }

    .img-fluid {
        max-width: 80%;
    }

    h2.main-title {
        font-weight: 200;
    }

    &.cta {
        h2 {
            font-weight: 200;
        }
    }

    h1,
    h2,
    h3 {
        width: 100%
    }

    .btn-container {
        width: 100%;
        margin: 0 auto;
        text-align: center
    }

    h2.fm_api_title {
        br {
            display: none
        }
    }

    @media (min-width: 768px) {

        h1,
        h2,
        h3 {
            width: auto
        }

        text-align: left;

        img {
            margin-bottom: 0px;
        }

        h2.fm_api_title {
            br {
                display: block
            }
        }
    }

    &.hero {
        background: blue;

        &>div>.row>div {
            border-radius: 6px;
            background-color: white;
            min-height: 120px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

            img {
                margin-bottom: 0;
            }

            @media (min-width: 768px) {
                min-height: 180px;
            }
        }

        &.books {
            background: url(./img/hero-books.png) center -10px no-repeat;
            background-size: cover;

            @media (min-width: 992px) {
                background-position: center -100px;
            }

            @media (min-width: 1200px) {
                background-position: center -150px;
            }

            @media (min-width: 1600px) {
                background-position: center -200px;
                /* height: 300px; */
            }

            @media (min-width: 2000px) {
                background-position: center -300px;
                /* height: 300px; */
            }

            @media (min-width: 2500px) {
                background-position: center -400px;
                /* height: 300px; */
            }

            .row>div {
                img {
                    max-height: 100px;
                }
            }
        }

        &.damo {
            background: url(./img/hero-damo.png) center bottom no-repeat;
            background-size: cover;

            .row>div {
                box-shadow: 0 0 10px rgba(113, 28, 19, 0.6);
            }
        }

        &.homes {
            background: url(./img/hero-homes.png) center bottom no-repeat;
            background-size: cover;
        }

        &.weather {
            background: url(./img/hero-weather.png) center bottom no-repeat;
            background-size: cover;

            img {
                width: 80%;

                @media(min-width: 1024px) {
                    width: 60%;
                }
            }
        }

        &.fmapi {
            background: url(./img/hero-fmapi.png) center center no-repeat;
            background-size: cover;

            .row>div {
                box-shadow: 0 0 10px rgba(113, 28, 19, 0.6);
            }
        }
    }
}

.v2 section:not(.hero)
/* style */

    {
    padding: 150px 20px;
}