//Get external css
@import 'bootstrap-4/css/bootstrap.min.css';
@import 'bootstrap-4/css/jumbotron.css';

//Fonts

/* Text fonts */

@font-face {
    font-family: "sf-pro-text_regular";
    src: url("fonts/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
    font-family: "sf-pro-text_medium";
    src: url("fonts/sf-pro-text_medium.woff2") format("woff2");
}


//Display Ultra Light
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("fonts/sanfranciscodisplay-ultralight-webfont.woff2");
}

// Display Thin
@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("fonts/sanfranciscodisplay-ultralight-webfont.woff2");
}


// Display Medium */
@font-face {
    font-family: "San Francisco";
    font-weight: normal;
    src: url("fonts/sanfranciscodisplay-medium-webfont.woff2");
}

// Display Semi Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("fonts/sanfranciscodisplay-semibold-webfont.woff2");
}

// Display Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: bold;
    src: url("fonts/sanfranciscodisplay-bold-webfont.woff2");
}



body {
    font-family: "sf-pro-text_regular", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    color: #0070c9;
}

p {
    color: #888888;
}

.btn-primary {
    background-color: #0070c9;
}

h1,
h2,
h3,
h4 {
    font-family: "sf-pro-text_medium", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}


h1 {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: -0.03em;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

h3 {
    font-weight: normal;
    font-size: 1.25rem;
    color: #888888;
}

.cta h3 {
    color: #000000;
}

.main-title+h3 {
    color: #888888;
}

@media (min-width: 768px) {
    h1,
    h2,
    h3,
    h4 {

        text-align: left;
    }
    .cta h2,
    .cta p,
    h2.main-title,
    .cta h3 {
        width: 100%;
        text-align: center;
    }
}

.navbar {

    .navbar-brand {
        background: transparent url(img/logo.svg) no-repeat left 10px;
        width: 100px;
        height: 40px;
    }
}


.breadcrumbs {
    height: 48px;
    padding-top: 10px;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 -3px 14px #666;
    span {
        display: inline-block;
        margin-top: 0.25rem;
    }
    /* a.btn{ float: right;} */
    .btn-sm {
        padding: .2rem .5rem;
        margin-right: 8px;
        @media (min-width: 992px) {
        	margin-right: 24px;
        }
        @media (min-width: 1200px) {
        	margin-right: 38px;
        }
    }
}


.jumbotron {
    border-radius: 0;
    background: url(img/hero-main.png) center bottom no-repeat;
    background-size: cover;
    min-height: 320px;
    margin-bottom: 60px;
    @media (min-width: 768px) {
        background: url(img/hero-main.png) center bottom no-repeat;
        background-size: cover;
        min-height: 360px;
    }
    @media (min-width: 992px) {
        background: url(img/hero-main.png) center bottom no-repeat;
        background-size: cover;
        min-height: 440px;
    }
    @media (min-width: 1200px) {
        background: url(img/hero-main-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 400px;
    }
    @media (min-width: 1600px) {
        background: url(img/hero-main-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 576px;
    }
    @media (min-width: 2000px) {
        background: url(img/hero-main-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 716px;
    }
    @media (min-width: 2500px) {
        background: url(img/hero-main-lg.png) center bottom no-repeat;
        background-size: cover;
        min-height: 786px;
    }
}

hr {
    width: 80%;
    margin-bottom: 10px;
}

.btn-asteric {
    font-size: 0.8em;
}

footer {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
}

.btn-container {
    width: 100%;
    margin: 0 auto;
    text-align: center
}

section {

    text-align: center;
    padding: 100px 20px;

    &.first {
        margin-top: 100px;
        padding: 60px 20px !important
    }
    &.odd {
        background-color: #fafafa;
    }
    &.even {
        background-color: #ffffff;
    }
    img {
        margin-bottom: 30px;
        max-height: 300px;
        max-width: 300px
    }
    .img-fluid {
        max-width: 80%;
    }
    h2.main-title {
        font-weight: 200;
    }
    &.cta {
        h2 {
            font-weight: 200;
        }
    }
    h1,
    h2,
    h3 {
        width: 100%
    }
    .btn-container {
        width: 100%;
        margin: 0 auto;
        text-align: center
    }
    h2.fm_api_title {
        br {
            display: none
        }
    }
    @media (min-width: 768px) {
        h1,
        h2,
        h3 {
            width: auto
        }
        text-align: left;
        img {
            margin-bottom: 0px;
        }
        h2.fm_api_title {
            br {
                display: block
            }
        }
    }
    &.hero {
        background: blue;
        &>div>.row>div {
            border-radius: 6px;
            background-color: white;
            min-height: 120px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            img {
                margin-bottom: 0;
            }
            @media (min-width: 768px){
            	min-height: 180px;
            }
        }

        &.books {
            background: url(img/stock/books-587536254.jpg) center -10px no-repeat;
            background-size: cover;
            .row>div {
                img {
                    max-height: 100px;
                }
            }
        }
        &.homes {
            background: url(./img/stock/homes-825271528.jpg) center bottom no-repeat;
            background-size: cover;
        }
        &.damo {
            background: url(img/stock/damo-689313338.jpg) center bottom no-repeat;
            background-size: cover;
            .row>div {
                box-shadow: 0 0 10px rgba(113, 28, 19, 0.6);
            }
        }
        &.fmapi {
            background: url(img/stock/fmapi-491277738.jpg) center center no-repeat;
            background-size: cover;
            .row>div {
                box-shadow: 0 0 10px rgba(113, 28, 19, 0.6);
            }
        }
    }
}

.v2 section:not(.hero)
/* style */

{
    padding: 150px 20px;
}